
$pwt-btn-font-system: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$pwt-btn-font-family: "Questrial", $pwt-btn-font-system !default;
$pwt-btn-font-size: 1rem !default;
$pwt-btn-padding: 0.65em 2em !default;
$pwt-btn-border-radius: 0.25rem !default;
$pwt-btn-disabled-opacity: 0.65 !default;
$pwt-btn-focus-outline-size: 0.15rem !default;
$pwt-btn-label-fg: #2d2d2d !default;
$pwt-btn-label-addon-color: $pwt-btn-label-fg !default;
$pwt-btn-label-pay: #0D6EFD !default;
$pwt-btn-label-terra: #2043b5 !default;
$pwt-btn-bg: #ffffff !default;

$pwt-btn-bg-dark: #2d2d2d !default;
$pwt-btn-label-fg-dark: #ffffff !default;
$pwt-btn-label-addon-color-dark: $pwt-btn-label-fg-dark !default;
$pwt-btn-label-pay-dark: #3b89ff !default;
$pwt-btn-label-terra-dark: #3b89ff !default;

$pwt-logo-color: #0d6efd !default;

